@model List<About>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<div class="container-fluid">

    <!-- Page Heading -->
    <div class="row mt-4">
        <!-- First Column -->
        <div class="col-lg-12">
            <!-- Custom Text Color Utilities -->
            <div class="card shadow mb-4">
                <div class="card-header py-3 d-flex justify-content-between align-items-center">
                    <h6 class="m-0 font-weight-bold text-primary">Haqqımızda</h6>
                    <a asp-action="create" class="btn btn-sm btn-success btn-circle">
                        <i class="fas fa-plus"></i>
                    </a>
                </div>
                <div class="card-body">
                    <table class="table">
                        <thead>
                            <tr>

                                <th scope="col"> Şəkil</th>
                                <th scope="col"> Mətn</th>
                                <th scope="col"> Settings</th>

                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                            <tr>
                                <td>
                                    <img style="width: 100px;" src="~/Project/@item.Image" class="img-thumbnail">
                                </td>
                                <td>

                                    @Html.Raw(item.BodyText)
                                </td>
                                <td class="d-flex">
                                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-info btn-circle btn-sm">
                                        <i class="fas fa-pencil-alt"></i>
                                    </a>
                                    <p>&nbsp;</p>
                                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-warning btn-circle btn-sm">
                                        <i class="fa fa-list" aria-hidden="true"></i>

                                    </a>
                                    <p>&nbsp;</p>
                                    @if (Model.Count() > 1)
                                    {

                                        <p>&nbsp;</p>

                                        <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger btn-circle btn-sm deleteitem ">
                                            <i class="fas fa-trash"></i>
                                        </a>
                                    }
                                    else
                                    {
                                        <p>&nbsp;</p>
                                        <h6 class="mt-2">Silmək Olmaz!</h6>
                                    }
                                </td>
                            </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>
</div>


